<!DOCTYPE html>
<html>
<head>
<title>Menu</title>
</head>

<body>
{{range .}}
    {{.Name}}
    {{range .Menu}}
    {{.Serving}}
    {{range .Items}}
    {{.One}}    {{.Two}}    {{.Three}}
    {{end}}
    {{end}}
{{end}}
</body>
</html>


